<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla/templateadmin::head">

<meta charset="UTF-8">
<title>Insert title here</title>

</head>

<body class="body1">
<header th:replace="plantilla/templateadmin :: header"></header>
<main class="main">

<div class="container">


<br>
	<a class="btn btn-outline-info" th:href="@{/views/admin/perifericoasignacion/create/}" role="button">Añadir Asignación Periferico</a>
	
	<br>

</div>


<div class="container mt-4">

	<table id="tablainfoperi" class="table table-hover table-bordered table-sm" cellspacing="0" width="100%">
 		<thead class="thead bg-info text-white">
 			<tr>
 				<th>ID</th>
 				<th>Fecha de Asignacion</th>
 				<th>Fecha Final de Asignación</th>
 				<th>Cédula Funcionario</th>
 				<th>Nombres Funcionario</th>
 				<th>Apellidos Funcionario</th>
 				<th>Nombre Périferico</th>
 				<th>Serie Périferico</th>
 				<th>Observaciones</th>
 				<th>Editar</th>
 				<th>Imprimir</th>	
 				
 			</tr>
 	</thead>
 	<tbody class="tbody">
 	
 			<tr th:each="asignacion:${asignacionperiferico}"> 
 			<td th:text="${asignacion.idasignacion}"></td>
 			<td th:text="${#dates.format(asignacion.fechainicio, 'dd/MM/yyyy')}"></td>
 			<td th:text="${#dates.format(asignacion.fechafin, 'dd/MM/yyyy')}"></td>
 			<td th:text="${asignacion.idusuario.cedula}"></td>
 			<td th:text="${asignacion.idusuario.nombres}"></td>
 			<td th:text="${asignacion.idusuario.apellidos}"></td>
 			<td th:text="${asignacion.idperiferico.nombreperiferico}"></td>
 			<td th:text="${asignacion.idperiferico.serie}"></td>
 			<td th:text="${asignacion.observaciones}"></td>
 			<td>
 			<a class="btn btn-success btn-sm" th:href="@{/views/admin/perifericoasignacion/edit/} + ${asignacion.idasignacion}" th:text="'Editar'"></a>
 			</td>
 			<td>
	 			
					<a class="btn" id="pdf"
						th:href="@{'/views/admin/perifericoasignacion/filtrar1/'+ ${asignacion.idasignacion}+'/?format=pdf'}"
						title="Imprimir" target="_blank"> 
						<img class="img-responsive center-box" th:src="@{/img/impresora.ico}">
					</a>

 			</td>
 			</tr>
 	
 	
 	</tbody>
 	
 	
 	
 </table>
	</div>

</main>



<footer th:replace="plantilla/templateadmin :: footer">

</footer>


</body>
</html>